body {
    background-color: teal;
}
*{
    box-sizing: border-box;
}
.container {
    margin: auto;
    width: 50px;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.7);

}
input[type='text'],
input[type='password']{
    width: 100px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}
input[type='text']:focus,
input[type='password']:focus{
    background-color: aliceblue;
    outline: none;
}
.registerbtn {
    background-color: teal;
    color: wheat;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: auto;
    opacity: 0.8;
}
.registerbtn:hover{
    opacity:1 ;
}